<!-- 
<app-test></app-test> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-assets></app-assets> -->
<!-- <app-directives></app-directives>  -->
<!-- <app-routing></app-routing> -->
<!-- <app-produit-list></app-produit-list> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-services></app-services> -->
<!-- <app-routing></app-routing> -->
<!-- <a routerLink="routing" routerLinkActive="active">routing</a> -->
<!-- <br> -->

<nav class="navbar bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="" routerLinkActive="text-light" [routerLinkActiveOptions]="{exact: true}">
        <img src="/assets/fruits/logo.svg" alt="logo épicerie" width="30" height="24">
      </a>
      <div class="justify-content-end">
      <a routerLink="produits" routerLinkActive="text-light" class="text-dark text-decoration-none fw-semibold me-3">Produits</a>
      <a routerLink="ajouter" routerLinkActive="text-light" class="text-white text-decoration-none">Ajouter un produit</a>
     </div>
    </div>
  </nav>
<router-outlet></router-outlet>
