<!-- 
<app-test></app-test> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-assets></app-assets> -->
<!-- <app-directives></app-directives>  -->
<!-- <app-routing></app-routing> -->
<!-- <app-produit-list></app-produit-list> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-services></app-services> -->
<!-- <app-routing></app-routing> -->
<!-- <a routerLink="routing" routerLinkActive="active">routing</a> -->
<!-- <br> -->
<!-- <app-formulaire></app-formulaire> -->
<app-menu></app-menu>
<router-outlet></router-outlet>
